streamlit
requests
transformers
tokenizers
sentencepiece
torch
google-api-python-client
youtube-transcript-api
isodate
streamlit-navigation-bar
googletrans==4.0.0-rc1
PyDictionary
pandas
datetime
matplotlib
seaborn
numpy
